baidu-aip
certifi
chardet
Click
dill
Flask
funcsigs
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mock
multiprocess
pbr
requests
requests-toolbelt
six
urllib3
Werkzeug
aircv
Pillow
opencv-python
opencv-python-headless==4.2.0.32
reportlab
pypinyin
pyttsx3
gtts
pydub
Pillow
