<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
            <h1></h1>
            <form action="/submit" method="post">
                <p>字体大小：<input type="text" name="font_size"></p>
                <p>间隔时间：<input type="text" name="interval_time"></p>
                <p>数组参数：<input type="text" name="array_param"></p>
                <p><input type="submit" value="提交"></p>
            </form>

            <form action="/sub" method="post">
                <p><input type="submit" value="生成20以内减法"></p>
            </form>

            <form action="/sub1" method="post">
                <p><input type="submit" value="生成连减"></p>
            </form>

            <form action="/sub2" method="post">
                <p><input type="submit" value="生成比大小"></p>
            </form>

        
            <form action="/word" method="POST">
               <label for="input">输入一串生词:</label><br>
               <input type="text" id="input" name="input"><br><br>
               <input type="submit" value="生成生词pdf">
            </form>

            <form action="/word1" method="POST">
               <label for="input">输入一串生词:</label><br>
               <input type="text" id="input" name="input"><br><br>
               <input type="submit" value="生成pdf（不含拼音）">
            </form>

        
            <form action="/mp3" method="POST">
               <label for="input">输入一串生词:</label><br>
               <input type="text" id="input" name="input"><br><br>
               <input type="submit" value="生成算数听写">
            </form>

        
            <!-- <video controls>
               <video controls><source src="{{url_for('static', filename='output1.mp4', _external=True)}}" type="video/mp4"></video>
            </video> -->
    </body>
</html>
